<nav class="bg-sky-400 p-4 flex items-center justify-between">
  <div>
    <h1 class="font-bold text-white leading-loose">Todo</h1>
  </div>
  <div>
    <button
      class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded hover:shadow"
      (click)="signout()"
    >
      Logout
    </button>
  </div>
</nav>
<section class="bg-gray-100 p-4 h-full">
  <div class="flex justify-center h-full" cdkDropListGroup>
    <div
      class="w-1/3"
      cdkDropList
      [cdkDropListData]="filter('todo')"
      (cdkDropListDropped)="onDrop($event, 'todo')"
    >
      <div class="bg-white rounded-lg shadow p-4">
        <h2 class="text-xl font-semibold mb-4">To Do</h2>
        <div class="bg-gray-200 p-2 rounded-lg mb-2">
          @if (loading) {
          <ngx-skeleton-loader
            count="3"
            appearance="line"
            animation="progress-dark"
            [theme]="{ extendsFromRoot: true ,height: '30px',}"
          />
          } @else if ( filter('todo') . length > 0 && !loading) { @for (task of
          filter('todo'); track $index) {
          <div
            draggable="true"
            class="p-2 bg-white rounded-lg shadow my-2"
            cdkDrag
          >
            {{ task.id }}
            <p class="font-thin text-sm">{{ task.title }}</p>
          </div>

          } } @else if (filter('todo') . length === 0 && !loading) {
          <div
            class="p-2 bg-red-500 bg-opacity-45 rounded-lg my-2 text-white border-2 border-red-600 text-center"
          >
            No Task Available
          </div>
          }
        </div>
        <div class="flex justify-end">
          <button
            class="bg-blue-500 text-white px-4 py-2 rounded-lg"
            (click)="onClick('todo')"
          >
            +
          </button>
        </div>
        @if (todo) {
        <div class="my-2">
          <input
            type="text"
            class="w-full border-2 border-dashed border-gray-400 bg-gray-300 focus:outline-none p-1 rounded font-thin"
            [(ngModel)]="todoTitle"
            (keydown.enter)="submit('todo')"
          />
        </div>
        }
      </div>
    </div>
    <div
      class="w-1/3 ml-4"
      cdkDropList
      [cdkDropListData]="filter('progress')"
      (cdkDropListDropped)="onDrop($event, 'progress')"
    >
      <div class="bg-white rounded-lg shadow p-4">
        <h2 class="text-xl font-semibold mb-4">In Progress</h2>
        <div class="bg-gray-200 p-2 rounded-lg mb-2">
          @if (loading) {
          <ngx-skeleton-loader
            count="3"
            appearance="line"
            animation="progress-dark"
            [theme]="{ extendsFromRoot: true ,height: '30px',}"
          />
          } @else if ( filter('progress') . length > 0 && !loading) { @for (task
          of filter('progress'); track $index) {
          <div
            draggable="true"
            class="p-2 bg-white rounded-lg shadow my-2"
            cdkDrag
          >
            {{ task.id }}
            <p class="font-thin text-sm">{{ task.title }}</p>
          </div>

          } } @else if (filter('progress') . length === 0 && !loading) {
          <div
            class="p-2 bg-red-500 bg-opacity-45 rounded-lg my-2 text-white border-2 border-red-600 text-center"
          >
            No Task Available
          </div>
          }
        </div>
        <div class="flex justify-end">
          <button
            class="bg-blue-500 text-white px-4 py-2 rounded-lg"
            (click)="onClick('progress')"
          >
            +
          </button>
        </div>
        @if (progress) {
        <div class="my-2">
          <input
            type="text"
            class="w-full border-2 border-dashed border-gray-400 bg-gray-300 focus:outline-none p-1 rounded font-thin"
            [(ngModel)]="progressTitle"
            (keydown.enter)="submit('progress')"
          />
        </div>
        }
      </div>
    </div>
    <div
      class="w-1/3 ml-4"
      cdkDropList
      [cdkDropListData]="filter('done')"
      (cdkDropListDropped)="onDrop($event, 'done')"
    >
      <div class="bg-white rounded-lg shadow p-4">
        <h2 class="text-xl font-semibold mb-4">Done</h2>
        <div class="bg-gray-200 p-2 rounded-lg mb-2">
          @if (loading) {
            <ngx-skeleton-loader
              count="3"
              appearance="line"
              animation="progress-dark"
              [theme]="{ extendsFromRoot: true ,height: '30px',}"
            />
            } @else if ( filter('done') . length > 0 && !loading) { @for (task
            of filter('done'); track $index) {
            <div
              draggable="true"
              class="p-2 bg-white rounded-lg shadow my-2"
              cdkDrag
            >
              {{ task.id }}
              <p class="font-thin text-sm">{{ task.title }}</p>
            </div>
  
            } } @else if (filter('done') . length === 0 && !loading) {
            <div
              class="p-2 bg-red-500 bg-opacity-45 rounded-lg my-2 text-white border-2 border-red-600 text-center"
            >
              No Task Available
            </div>
            }
        </div>
        <div class="flex justify-end">
          <button
            class="bg-blue-500 text-white px-4 py-2 rounded-lg"
            (click)="onClick('done')"
          >
            +
          </button>
        </div>
        @if (done) {
        <div class="my-2">
          <input
            type="text"
            class="w-full border-2 border-dashed border-gray-400 bg-gray-300 focus:outline-none p-1 rounded font-thin"
            [(ngModel)]="doneTitle"
            (keydown.enter)="submit('done')"
          />
        </div>
        }
      </div>
    </div>
  </div>
</section>
